.cardaboutme{
    border-radius: 15px !important;
    background-color: var(--comp) !important;
    box-shadow: 0px 0px 10px 8px var(--shadow) !important;
    border: 2px solid var(--border) !important;
}

.cardaboutmeimg{
    border-top-right-radius: 13px !important;
    border-top-left-radius: 13px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}