.navtitle{
    color: var(--text) !important;
    font-size: x-large !important;
    font-weight: 700 !important;
}

.navtitle:hover{
    color: var(--detail)!important;
}

.navitem{
    color: var(--text) !important;
    margin: 8px !important;
    font-size: larger!important;
}

.navitem:hover{
    color: var(--detail)!important;
}