:root{
  --base: #191919;
  --extra: #ECDBBA;
  --detail: #C84B31;
  --text: #F2F2F2;
  --contentText: #181818;
  --card: #2D4263;
  margin: 0;
}

body{
  /* padding-top: 70px !important; */
  margin: 0 !important;
  padding: 0 !important;
}


/*
  --base: #222831;
  --secondary: #DDDDDD;
  --detail: #F05454;
  --text: #F2F2F2;
  --contentText: #181818;
  --navbar: #30475E;

  --base: #181818;
  --secondary: #150050;
  --detail: #610094;
  --text: #F2F2F2;
  --contentText: #f0f0f0;
  --navbar: #3F0071;

  --base: #191919;
  --secondary: #ECDBBA;
  --detail: #C84B31;
  --text: #F2F2F2;
  --contentText: #181818;
  --navbar: #2D4263;
*/

