/* :root{
  --base: #171717;
  --secondary: #dfdfdf;
  --detail: #DA0037;
  --text: #F2F2F2;
  --contentText: #181818;
  --navbar: #444444;
  margin: 0;
  background-color: var(--base);
}

body{
  margin: 0;
  background-color: var(--base);
} */

body{
  padding-top: 60px;
  margin: 0;
  padding: 0;
  
}

:root{
}
/*
  --base: #222831;
  --secondary: #DDDDDD;
  --detail: #F05454;
  --text: #F2F2F2;
  --contentText: #181818;
  --navbar: #30475E;

  --base: #181818;
  --secondary: #150050;
  --detail: #610094;
  --text: #F2F2F2;
  --contentText: #f0f0f0;
  --navbar: #3F0071;

  --base: #191919;
  --secondary: #ECDBBA;
  --detail: #C84B31;
  --text: #F2F2F2;
  --contentText: #181818;
  --navbar: #2D4263;
*/

